/* body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
} */

.pizarra {
    width:1100px;
    height: 550px;
    overflow-y: auto;
    border: 5px solid #0c0969;
    padding: 10px;
    margin-bottom: 20px;
}

.nota {
    width: 250px;
    height: 250px;
    margin-right: 10px; /* Espacio entre cada nota */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dedca8;
    border: 4px;
    border-radius: 5px;
    box-sizing: border-box; /* Incluir el borde y el relleno en el tamaño total */
    display: inline-block; /* Mostrar las notas en línea (una al lado de la otra) */
    vertical-align: top; /* Alinear las notas en la parte superior */
    cursor: pointer; /* Cambiar el cursor a mano al pasar sobre las notas */
    overflow: auto; /* Agregar desplazamiento si el contenido es demasiado largo */
    word-wrap: break-word; /* Dividir palabras largas */
}

/* Estilos para el contenido de las notas */
.nota-content {
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
    height: 100%; /* Ajustar la altura al 100% del contenedor */
    overflow: hidden; /* Ocultar el desbordamiento del contenido */
    text-overflow: ellipsis; /* Agregar puntos suspensivos (...) si el texto es demasiado largo */
    white-space: nowrap; /* Evitar saltos de línea */
}

.fecha-hora {
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
}

.nota-form {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 500px;
    height: 60px;
    padding: 8px;
    resize: none;
    border: 1px solid #6f1010;
}

button {
    padding: 8px 16px;
    background-color: #575c62;
    margin-inline-start: 10px;
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #afd429;
}
