body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
    margin-left: 250px; /* Ajustar según el ancho de tu barra lateral */
}

h1, h2 {
    color: #343a40;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #495057;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button#Eliminar {
    background-color: #ff0000;
}

button#Eliminar:hover {
    background-color: #a10000;
}

button:hover {
    background-color: #0056b3;
}

#employeeList {
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilo para checkbox y sus etiquetas */
.permissionsForm div {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos para los requisitos de la contraseña */
.password-requirements {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0; /* Reduce el margen inferior */
}

.password-requirements li {
    margin-bottom: 5px; /* Reduce el margen inferior */
    font-size: 14px;
    color: #a0a0a0; /* Color gris para requisitos no cumplidos */
}

.password-requirements li.valid {
    color: green;
}

.password-requirements li.invalid {
    color: #a0a0a0;
}

label input[type="checkbox"] {
    margin-right: 5px;
}
