body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #ffcc00; /* Amarillo */
    color: #333;
}
tr:nth-child(even) {
    background-color: #e8e5e5; /* gris claro */
}
tr:nth-child(odd) {
    background-color: #ffffcc; /* Amarillo claro */
}
button {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #1501cc;; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2b11d2; /* Verde oscuro */
}
.progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
}
.progress-bar {
    width: 50%; /* Valor */
    background-color: #ffcc00; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
